@import "~styles/palette.scss";

.login{
    height: 100%;
    background-image: linear-gradient( 135deg, #FD6585 10%, #0D25B9 100%);
    background-position: center;
    background-size: cover;

    >div{
        padding: 16px 16px 0 16px;
        border-radius: 4px;
        background: #ffffff;
        box-shadow: 4px 4px #9254de;
        max-width: 400px;
        min-width: 200px;

        .loginIcon{
            font-size: 50px;
            padding: 16px;
            display: block;
            color: $purple-5;
        }

        .loginForm{
            .loginSubmit{
                width: 100%;
            }
        }
    }
}
