@import "~styles/palette.scss";

.entry-card{
    height: 24rem;
    border-radius: 4px;
    margin-bottom: 16px;
    font-size: 4.8rem;
    text-align: center;
    line-height: 24rem;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 2px 2px $grey-5;
    cursor: pointer;
    transition: all 0.3s;
    &:hover{
        box-shadow: 0 0 5px 5px $grey-5;
        transform: scale(0.96);
        .anticon{
            transform: scale(1.2);
        }
    }
    .anticon{
        color: rgba(0,0,0,.45);
        transition: all 0.3s;
    }
}
.entry-card-green{
    background-image: url("~assets/imgs/bg/tree.jpg");
}
.entry-card-pink{
    background-image: url("~assets/imgs/bg/love.jpg");
}
.entry-card-purple{
    background-image: url("~assets/imgs/bg/secret.jpg");
}
.entry-card-yellow{
    background-image: url("~assets/imgs/bg/cloud.jpg");
}
