@import './styles/palette.scss';

html, body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px !important;
    margin: 0;
    padding: 0;
    height: 100%;
}
// 根节点
#app{
    height: 100%;
}

// 预加载loading，防止白屏
#pre-loader{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    margin: -20px 0 0 -20px;
    display: none;
    background: #3498db;
    border-radius: 50px;
    animation: pre-loader 1.5s infinite linear;
    box-sizing: content-box;
    z-index: -1;
}
#pre-loader:after {
    position: absolute;
    width: 50px;
    height: 50px;
    border-top: 10px solid #9b59b6;
    border-bottom: 10px solid #9b59b6;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-radius: 50px;
    content: '';
    top: -20px;
    left: -20px;
    animation: pre-loader-after 1.5s infinite linear;
    box-sizing: content-box;
}

@keyframes pre-loader {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
        background: #2ecc71;
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes pre-loader-after {
    0% {
        border-top: 10px solid #9b59b6;
        border-bottom: 10px solid #9b59b6;
    }
    50% {
        border-top: 10px solid #3498db;
        border-bottom: 10px solid #3498db;
    }
    100% {
        border-top: 10px solid #9b59b6;
        border-bottom: 10px solid #9b59b6;
    }
}

// 小屏幕适配
@media (min-width: 360px) and (max-width: 640px) {
    html, body {
        font-size: 8px !important;
    }
}
